@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Montserrat';
}

body .App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right top, #634cdd, #6a45cf, #6f3dc0, #7237b3, #7330a5);
}

body .App header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

body .App header .navbar {
  height: 100%;
  width: 80%;
  align-items: center;
  display: flex;
}

body .App header .navbar .logo {
  font-size: 2em;
  font-weight: 600;
}

body .App .horizontal-box {
  height: 80vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

body .App .horizontal-box .left {
  background-color: bisque;
  width: 50%;
}

body .App .horizontal-box .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .App .horizontal-box .right .form-conteiner {
  width: 60%;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

body .App .horizontal-box .right .form-conteiner .form-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 30px;
}

body .App .horizontal-box .right .form-conteiner form {
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

body .App .horizontal-box .right .form-conteiner form label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

body .App .horizontal-box .right .form-conteiner form input, body .App .horizontal-box .right .form-conteiner form textarea {
  outline: none;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

body .App .horizontal-box .right .form-conteiner form input[type="text"] {
  width: 100%;
  height: 30px;
}

body .App .horizontal-box .right .form-conteiner form textarea {
  height: 100px;
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  resize: none;
}

body .App .horizontal-box .right .form-conteiner form textarea textarea::-webkit-scrollbar {
  width: 5px;
}

body .App .horizontal-box .right .form-conteiner form textarea textarea::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
}

body .App .horizontal-box .right .form-conteiner form .input-file {
  border: none;
  border-radius: 0;
  padding: 0 0 0 0;
}

body .App .horizontal-box .right .form-conteiner button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(267.27deg, #31318C 0%, #312D97 23.23%, #3227A1 47.71%, #361EAA 75.31%, #3C11B3 100%);
  color: #fff;
  border: none;
}

body .App .horizontal-box .right .form-conteiner button:hover {
  background: linear-gradient(267.27deg, rgba(49, 49, 140, 0.7) 0%, rgba(49, 45, 151, 0.7) 23.23%, rgba(50, 39, 161, 0.7) 47.71%, rgba(54, 30, 170, 0.7) 75.31%, rgba(60, 17, 179, 0.7) 100%);
  cursor: pointer;
}
